body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    background-color: lightgoldenrodyellow;
    background-image: url("paper.gif");
}

h1 {
    color: navy;
    margin-left: 20px;
}

#para1 {
    width: 200px;
    text-align: center;
    background-color: green;
    border: 1px solid black;
    //margin: 25px 50px 75px;
    margin: auto;
}

.morespace {
    margin-left: 20px;
    margin-right: 20px;
}

.shout {
    text-transform: uppercase;
}

.loud {
    color: red;
}

a {
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: navy;
}
